.Topbar {
    background-color: #d9e6ff;
    height: 40px;
    margin:0px;
    padding-left: 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    list-style: none;
    
}

.TopbarItem{
    padding: 9px 5px;
    flex: 1 1 auto;
    text-align: center;
}

.isNotActive:hover{
    background-color: #c5d3ee;
}

.isActive{
    background-color: #5a74a8;
}
