.node_data{
    visibility: hidden;
    opacity: 0;

    transition: opacity .3s, visibility .3s;
}

.node:hover .node_data{
    visibility: visible;
    opacity: 1;
}


.circle{
    fill: #FFFFFF;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.circle.isActive{
    fill: #c5d3ee;
}
