.grid_wrapper{
    flex : 1 1 auto;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    margin-top: 1rem;

    
}

.grid_container{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin-left : auto;
    margin-right : auto;

    flex-wrap: wrap;

    flex: 1 1 auto;

}

.entry{
    display: flex;
    flex-direction: row;
    flex-basis: 0
}

.entry.active{
    background-color:  #e2e9f7;
}

.entry_value{
    flex : 3 1 auto;
    flex-basis: 0;
    border : 1px solid lightblue;
    
}

.entry_value span{
    float: left;
    width: 100%;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    min-width: 0;

}

.entry_label button{
    float: right;
}


.entry_value input{
    border : none;
    background-color: transparent;
    width: 100%;
    min-width: 0px;
}

.entry_label{
    background-color: rgb(235, 235, 235);
    display: flex;
}

.entry_separator{
    flex : 1 0 0;
    text-align: center;
}

.entry_button{
    flex : 1 0 0;
    text-align: center;
}

.entry_button:hover{
    background-color: #5a74a8;
}

.entry_button button{
    background-color: transparent;
    border : none;
    border-radius: 0px;
    width:100%;
    height:100%;
    padding: 0px;
}

.entry_button button:hover{
    cursor: pointer;
}


.grid_container_buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left : auto;
    margin-right : auto;
}