.grid_wrapper{
    flex : 1 1 auto;
    overflow-y: auto;
}

.grid_container{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin-left : auto;
    margin-right : auto;

    flex-wrap: wrap;

}

.entry{
    display: flex;
    flex-direction: row;
    flex-basis: 0
}

.entry_value{
    flex : 3 1 auto;
    flex-basis: 0;
    border : 1px solid lightblue;
    
}

.entry_value span{
    float: left;
    width: 100%;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    min-width: 0;

}

.entry_label button{
    float: right;
}


.entry_value input{
    border : none;
    background-color: transparent;
    width: 100%;
}

.entry_label{
    background-color: rgb(235, 235, 235);
    
}

.entry_separator{
    flex : 1 0 0;
}



.grid_container_buttons{
    display: flex;
    justify-content: space-between;
}